In [1]:
import pandas as pd
import math
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

In [66]:
df_merge = pd.read_csv('full_merge.csv')
df_merge = df_merge.dropna()
df_merge.head()

,Drug,Condition,Reviews,Rating,Website
0,guanfacine,adhd,"""my son is halfway through his fourth week of ...",8.0,drugs.com
1,guanfacine,adhd,"""the actavis generic version of this medicatio...",1.0,drugs.com
2,guanfacine,adhd,"""my son was just diagnosed adhd today. he&#039...",7.0,drugs.com
3,guanfacine,adhd,"""the first few days on 1 mg in the morning, he...",4.0,drugs.com
4,guanfacine,adhd,"""ours 8 year old son as done so much better wi...",10.0,drugs.com

In [67]:
df_merge['sentiment'] = df_merge['Reviews'].astype(str).apply(lambda x: sid.polarity_scores(x)['compound'])

In [68]:
df_merge.to_csv('vader_sentiment.csv',index=False)

### Scaling Sentiment rating

In [2]:
sentiment_df = pd.read_csv('vader_sentiment.csv')

In [3]:
sentiment_df['sentiment'] = sentiment_df['sentiment'].apply(lambda x: math.ceil(x*10))

In [4]:
sentiment_df.loc[(sentiment_df['sentiment'] == -10) | (sentiment_df['sentiment'] == -9) , 'updated_sentiment'] = 1
sentiment_df.loc[(sentiment_df['sentiment'] == -8) | (sentiment_df['sentiment'] == -7) , 'updated_sentiment'] = 2
sentiment_df.loc[(sentiment_df['sentiment'] == -6) | (sentiment_df['sentiment'] == -5) , 'updated_sentiment'] = 3
sentiment_df.loc[(sentiment_df['sentiment'] == -4) | (sentiment_df['sentiment'] == -3) , 'updated_sentiment'] = 4
sentiment_df.loc[(sentiment_df['sentiment'] == -2) | (sentiment_df['sentiment'] == -1) | (sentiment_df['sentiment'] == 0) , 'updated_sentiment'] = 5
sentiment_df.loc[(sentiment_df['sentiment'] == 0) | (sentiment_df['sentiment'] == 1) | (sentiment_df['sentiment'] == 2) , 'updated_sentiment'] = 6
sentiment_df.loc[(sentiment_df['sentiment'] == 3) | (sentiment_df['sentiment'] == 4) , 'updated_sentiment'] = 7
sentiment_df.loc[(sentiment_df['sentiment'] == 5) | (sentiment_df['sentiment'] == 6) , 'updated_sentiment'] = 8
sentiment_df.loc[(sentiment_df['sentiment'] == 7) | (sentiment_df['sentiment'] == 8) , 'updated_sentiment'] = 9
sentiment_df.loc[(sentiment_df['sentiment'] == 9) | (sentiment_df['sentiment'] == 10) , 'updated_sentiment'] = 10

In [8]:
sentiment_df = sentiment_df.rename(columns={'updated_sentiment':'Sentiment'})
sentiment_df = sentiment_df.drop(columns=['sentiment'])

In [9]:
sentiment_df.to_csv('drug_recommendation.csv',index=False)

In [86]:
input_condition = 'abnormal uterine bleeding'
cond_filtered = final_df[final_df['Condition'] == input_condition]
cond_filtered = cond_filtered.groupby(['Condition','Drug']).agg('mean')
cond_filtered.head(115)

                                             Rating  Sentiment
Condition                 Drug
abnormal uterine bleeding alesse           4.875000   4.750000
                          altavera        10.000000   9.000000
                          alyacen          6.500000   3.500000
                          alyacen 1 / 35   1.000000   3.000000
                          amethia lo       2.000000   4.000000
...                                             ...        ...
                          tri-sprintec     5.142857   4.914286
                          trinessa         5.666667   5.523810
                          trinessa lo      8.000000   4.500000
                          trivora-28       6.000000   3.750000
                          zenchent        10.000000  10.000000

[114 rows x 2 columns]

In [79]:
new_df = cond_filtered.groupby(['Drug']).agg('mena')
new_df

                                Condition     Rating  Sentiment
Drug
alesse          abnormal uterine bleeding   4.875000   4.750000
altavera        abnormal uterine bleeding  10.000000   9.000000
alyacen         abnormal uterine bleeding   6.500000   3.500000
alyacen 1 / 35  abnormal uterine bleeding   1.000000   3.000000
amethia lo      abnormal uterine bleeding   2.000000   4.000000
...                                   ...        ...        ...
tri-sprintec    abnormal uterine bleeding   5.142857   4.914286
trinessa        abnormal uterine bleeding   5.666667   5.523810
trinessa lo     abnormal uterine bleeding   8.000000   4.500000
trivora-28      abnormal uterine bleeding   6.000000   3.750000
zenchent        abnormal uterine bleeding  10.000000  10.000000

[114 rows x 3 columns]